.whatsapp {
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 9999;
}

.whatsapp img {
  width: 75px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

/* Efeito ao passar o mouse */
.whatsapp img:hover {
  transform: scale(1.1);
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .whatsapp {
    bottom: 20px;
    right: 15px;
  }

  .whatsapp img {
    width: 60px;
  }
}

@media (max-width: 480px) {
  .whatsapp {
    bottom: 15px;
    right: 10px;
  }

  .whatsapp img {
    width: 50px;
  }
}
