.quem-somos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(to bottom, #f4f7f3, #ffffff);
}

.qs-title {
  margin-top: 98px;
  text-transform: uppercase;
  color: #b4b364;
  font-size: 36px;
  text-align: center;
}

.qs-p {
  border: #b4b364 solid 3px;
  padding: 16px;
  margin: 80px 190px 20px 190px;
}

.qs-info p {
  font-size: 20px;
  text-align: center;
  color: #5d726a;
}

.img-brasil {
  margin-top: 100px;
}

.img-brasil p {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #45554f;
}

@media (max-width: 768px) {
  .quem-somos {
    flex-direction: column;
    text-align: center;
  }

  .qs-info,
  .img-brasil {
    max-width: 100%;
    margin: 20px 0;
  }

  .qs-title {
    font-size: 28px;
  }

  .qs-p {
    font-size: 18px;
    margin: 20px;
  }

  .img-brasil img {
    max-width: 250px;
  }
}
